<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Event</h1>
    <% if (locals.message) { %> message <% } %>
    <form action="/faculty/home/add-new-event" method="post">
      <textarea
        name="eventData"
        id=""
        rows="3"
        cols="20"
        placeholder="Describe about your event"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
