<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Forget Password</h1>
    <% if (locals.message) { %> <%= message %> <% } %>
    <form action="/faculty/sendresetpassemail" method="post">
      <label for="">Email: </label>
      <input type="email" name="email" required />
      <button type="submit">Send reset password link</button>
    </form>
  </body>
</html>
