<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Faculty Home</h1>
    <h3><a href="/faculty/add-new-lecture">Add new Lecture</a></h3>
    <h3>
      <a href="/faculty/add-new-research-publication"
        >Add new Research Publication</a
      >
    </h3>
    <h3><a href="/faculty/add-new-event">Add new Event</a></h3>
    <h3><a href="/faculty/add-new-seminar">Add new Seminar</a></h3>
    <h3><a href="/faculty/add-new-project">Add new Project</a></h3>
    <br /><br />
    <h3><a href="/faculty/self-appraisal">View my self-appraisal form</a></h3>
    <!-- this link should forward the user to a page which contains his all details
    in the form of pdf -->
    <a href="/faculty/home/changepassword">ChangePassword</a>
    <a href="/faculty/login">Logout</a>
  </body>
</html>
