<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Change Password</h1>
    <% if (locals.message) { %> <%= message %> <% } %>
    <form action="/institute/home/changepassword" method="post">
      <label for="">Current Password: </label>
      <input type="password" name="password" required />
      <label for="">New Password: </label>
      <input type="password" name="new_password" required />
      <label for="">Confirm New Password: </label>
      <input type="password" name="confirm_new_password" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
