<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Institute Home</h1>
    <a href="/institute/home/changepassword">ChangePassword</a>
    <a href="/institute/login">Logout</a>
  </body>
</html>
