<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Proffesor Progress!</h1>
    <p>Continue as:</p>
    <h3><a href="/faculty/login">Faculty</a></h3>
    <h3><a href="/institute/login">Institute</a></h3>
  </body>
</html>
